<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首页</title>
    <link href="https://fonts.googleapis.com/css?family=Limelight" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="d-audio" style="width: 50px;height: 50px"></div>
    <div class="snow-container"></div>
    <div class="container">
        <div class="glass-container">
            <div class="bubble -bubble1"></div>
            <div class="bubble -bubble2"></div>
            <div class="bubble -bubble3"></div>
            <div class="bubble -bubble4"></div>
            <div class="bubble -bubble5"></div>
            <div class="wrapper">
                <div class="top">
                    <div class="champagne"></div>
                    <div class="eye -left"></div>
                    <div class="eye -right"></div>
                    <div class="smile-wrapper">
                        <div class="smile"></div>
                    </div>
                    <div class="blush -left"></div>
                    <div class="blush -right"></div>
                    <div class="c-bubble -l1"></div>
                    <div class="c-bubble -l2"></div>
                    <div class="c-bubble -l3"></div>
                    <div class="c-bubble -l4"></div>
                    <div class="c-bubble -l5"></div>
                    <div class="c-bubble -r1"></div>
                    <div class="c-bubble -r2"></div>
                    <div class="c-bubble -r3"></div>
                    <div class="c-bubble -r4"></div>
                    <div class="c-bubble -r5"></div>
                </div>
            </div>
            <div class="lip"></div>
            <div class="bottom"></div>
            <div class="stem"></div>
            <div class="base"></div>
        </div>
        <div class="text-container">
            <h1>HAPPY <br>BIRTHDAY<br>TO YOU</h1>
            <div class="t-bubble -t1"></div>
            <div class="t-bubble -t2"></div>
            <div class="t-bubble -t3"></div>
            <div class="t-bubble -t4"></div>
            <div class="t-bubble -t5"></div>
            <div class="t-bubble -t6"></div>
            <div class="t-bubble -t7"></div>
            <div class="t-bubble -t8"></div>
            <div class="t-bubble -t9"></div>
            <div class="t-bubble -t10"></div>
            <div class="t-bubble -t11"></div>
            <div class="t-bubble -t12"></div>
            <div class="t-bubble -t13"></div>
            <div class="t-bubble -t14"></div>
            <div class="t-bubble -t15"></div>
        </div>
    </div>
    <div class="container-dot">
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
    </div>
    <canvas id="canvass" style="display: none;" width="923" height="743"></canvas>
    <a href="#" class="btn btn-bubble" onclick="showfire()" style="font-size: 1.5em;border-radius: 0.3em">点我试试O(∩_∩)O~</a>
    <script src="/script/daudio.js"></script>
    <script src="/script/jq.js"></script>
    <script src="/script/three.js"></script>
    <script src="/script/firework.js"></script>
    <script src="/script/script.js"></script>
</body>

</html>